<template>
  <header>
    <h1>{{ pageTitle }}</h1>
    <table-filters :page-sizes="[...pageSizes]"
                   :selected-page-size="pageSize"
                   :clinics="{ ...clinicList }"
                   :selected-clinic="selectedClinic"
                   @page-size-updated="(newPageSize: number) => updatePageSize(newPageSize)"
                   @clinic-selection-updated="(clinic: string) => updateSelectedClinic(clinic)" />
  </header>
  <main>
    <patient-table :patients="[...filteredPatients]"
                   :columns="columns" />
    <el-pagination small
                   layout="prev, pager, next"
                   :page-size="pageSize"
                   :total="totalResultsForClinic"
                   @current-change="updatePageIndex" />
  </main>
</template>


<script setup lang="ts">
import {
  ref,
  watch,
} from "vue"
import PatientTable, {
  type ColumnMap,
} from '../components/PatientTable.vue'
import {
  getRecommendation,
  getNameMappings,
  getClinicNameMappings,
} from "../static/mockServer.js"
import type {
  Patient,
} from "@/global"
import TableFilters from '../components/TableFilters.vue'

/* Local State */
const defaultPageSize = 10
const pageTitle = ref<string>("Patient Recomendations")
const pageSizes = ref<number[]>([10, 20, 30])

const pageSize = ref(defaultPageSize)
const pageIndex = ref<number>(1)
const selectedClinic = ref<null | string>(null)
const totalResultsForClinic = ref<number>(defaultPageSize)

const filteredPatients = ref<Patient[]>([])
const columns = ref<ColumnMap>({ header: {}, column: {} })
const clinicList = ref<{ [clinicId: string]: string }>({})


/* Methods */
const updatePageSize = (ps: number) => {
  pageSize.value = ps
}

const updateSelectedClinic = (clinic: string) => {
  selectedClinic.value = clinic
}

const updatePageIndex = (newPageIndex: number) => {
  pageIndex.value = newPageIndex
}

const fetchPatients = async (clinic: string) => {
  const newRecs = await getRecommendation(clinic, pageSize.value, pageIndex.value)
  const newNameMappings = await getNameMappings(clinic)
  filteredPatients.value = newRecs.results
  totalResultsForClinic.value = newRecs.total
  columns.value = { ...newNameMappings }
}

const fetchClinics = async () => {
  const clinics: { [clinicId: string]: string } = await getClinicNameMappings()
  selectedClinic.value = Object.keys(clinics)[0]
  clinicList.value = { ...clinics }
}

/* Watchers */
watch(
  [
    selectedClinic,
    pageIndex,
    pageSize,
  ],
  async ([
    newClinic,
  ]) => {
    if (newClinic !== null && newClinic !== undefined) {
      fetchPatients(newClinic)
    } else {
      fetchClinics()
    }
  }, { immediate: true })

</script>

<style scoped>
header {
  padding: 1rem;
}

.el-pagination {
  float: right;
  padding: 1rem;
}
</style>