<template>
  <div class="dropdown-container">
    <el-select @change="(newValue: string) => setSelectedClinic(newValue)"
               class="m-2"
               :model-value="currentClinic">
      <el-option v-for="option in clinicOptions"
                 :key="option.value"
                 :label="option.label"
                 :value="option.value">
      </el-option>
    </el-select>
  </div>
</template>

<script setup lang="ts">
import {
  computed,
  toRefs,
} from "vue";
import type {
  OptionsListItem,
} from "./TableFilters.vue";
import type {
  ClinicNameMap
} from "@/global";

const props = withDefaults(
  defineProps<{
    clinicKeysAndLabels: ClinicNameMap,
    selectedClinic: string | null,
  }>(),
  {
    clinicKeysAndLabels: () => { return {} },
    selectedClinic: null,
  }
)

const {
  clinicKeysAndLabels,
  selectedClinic,
} = toRefs(props)

/* Computed Props */
const currentClinic = computed(() => {
  if (selectedClinic.value !== undefined && selectedClinic.value !== null) {
    if (clinicKeysAndLabels.value[selectedClinic.value] !== undefined) {
      return selectedClinic.value
    }
  }
  return []
})

const clinicOptions = computed<OptionsListItem[]>(
  () => {
    return Object.keys(props.clinicKeysAndLabels).map(
      (key: string) => {
        return {
          label: clinicKeysAndLabels.value[key],
          value: key,
        }
      }
    )
  }
)

/* Event Emitters */
const emit = defineEmits<{
  (e: 'change', clinic: string): void
}>()

const setSelectedClinic = (clinic: string) => {
  emit('change', clinic)
}

</script>

<style scoped>
.filter-container .el-dropdown+.el-dropdown {
  margin-left: 15px;
}

.filter-container .el-dropdown-link {
  cursor: pointer;
  color: var(--el-color-primary);
  display: flex;
  align-items: center;
}
</style>