<template>
  <div class="dropdown-container">
    <el-select @change="(newValue: string) => setPageSize(newValue)"
               class="m-2"
               :model-value="currentlySelectedPageSize">
      <el-option v-for="option in pageSizeOptions"
                 :key="option.value"
                 :label="option.label"
                 :value="option.value">
      </el-option>
    </el-select>
  </div>
</template>

<script setup lang="ts">
import {
  computed,
  toRefs,
} from "vue"

/* Local Types */
export type NumberedOptionsList = number[]
export interface OptionsListItem {
  label: string,
  value: string,
}

const props = withDefaults(
  defineProps<{
    pageSizes: NumberedOptionsList
    selectedPageSize: number | null
  }>(),
  {
    selectedPageSize: null,
  }
)

const {
  pageSizes,
  selectedPageSize,
} = toRefs(props)


/* Computed Props */
const uniquePrecomputedNumberList = computed<Set<number>>(
  () => {
    return new Set<number>(pageSizes.value.values())
  }
)

const currentlySelectedPageSize = computed(
  () => {
    if (Number.isFinite(selectedPageSize.value) && selectedPageSize.value !== null) {
      if (uniquePrecomputedNumberList.value.has(selectedPageSize.value)) {
        return selectedPageSize.value.toString(10)
      }
    }
    return pageSizes.value[0]?.toString(10) || 'No valid values provided'
  }
)

const pageSizeOptions = computed(
  () => {
    if (Array.isArray(pageSizes.value) && pageSizes.value.length > 0) {
      return pageSizes.value.map(
        (pageSize: number) => {
          const pageSizeAsString = pageSize.toString(10)
          return {
            value: pageSizeAsString,
            label: pageSizeAsString
          }
        }
      )
    } else {
      return []
    }
  }
)

/* Event Emitters */
const emit = defineEmits<{
  (e: 'change', pageSize: number): void
}>()

const setPageSize = (pageSize: string) => {
  emit('change', Number.parseInt(pageSize, 10))
}
</script>

<style scoped>
.filter-container .el-dropdown+.el-dropdown {
  margin-left: 15px;
}

.filter-container .el-dropdown-link {
  cursor: pointer;
  color: var(--el-color-primary);
  display: flex;
  align-items: center;
}
</style>