<template>
  <div>
    <el-table :data="flattenedPatientAttributes"
              style="width: 100%"
              :fit="true">
      <el-table-column :label="groupHeader"
                       width="150"
                       v-for="groupHeader in Object.keys(columns.header)"
                       :key="groupHeader">
        <el-table-column :prop="colName"
                         :key="colName"
                         :label="columns.column[colName]"
                         v-for="colName in columns.header[groupHeader]">
        </el-table-column>
      </el-table-column>
      <el-table-column label="Patient Recommendation">
        <el-table-column key="recData"
                         prop="recDate"
                         label="Rec Date" />
        <el-table-column v-for="remainingCol in recKeys"
                         :key="remainingCol"
                         :label="remainingCol">
          <template #default="scope">
            <el-icon v-if="scope.row[remainingCol] === true">
              <icon-checkmark />
            </el-icon>
          </template>
        </el-table-column>
      </el-table-column>
    </el-table>
  </div>
</template>

<script setup lang="ts">
import type {
  Patient,
} from '@/global'
import {
  computed,
  toRefs,
} from 'vue'

/* Local Types */
export interface DisplayPatient {
  [key: string]: string | boolean,
  clinicId: string,
  recDate: string,
}
export interface ColumnMap {
  header: {
    [key: string]: string[],
  },
  column: {
    [key: string]: string,
  },
}

const props = defineProps<{
  patients: Patient[],
  columns: ColumnMap,
}>()

const {
  patients,
  columns,
} = toRefs(props)

/* Computed Props */
const flattenedPatientAttributes = computed<DisplayPatient[]>(
  () => {
    return patients.value.map(
      (patient: Patient): DisplayPatient => {
        const data: DisplayPatient = {
          clinicId: patient.clinicId,
          recDate: patient.recDate,
        }

        /* Convert the patientAttributes into flat data */
        for (const patientAttrKey in patient.patientAttributes) {
          data[patientAttrKey] = patient.patientAttributes[patientAttrKey]
        }

        for (const recommmendation of patient.recommendedProcedures) {
          data[recommmendation.name] = true
        }

        return data
      }
    )
  }
)

const recKeys = computed<string[]>(
  () => {
    if (flattenedPatientAttributes.value.length > 0) {
      return Object.keys(flattenedPatientAttributes.value[0]).filter((recKey: string) => {
        if (
          columns.value.column[recKey] === undefined
          && recKey !== 'recDate'
          && recKey !== 'clinicId'
        ) {
          return true
        } else {
          return false
        }
      })
    } else {
      return []
    }
  }
)
</script>

<style scoped>
.el-table {
  width: 100%;
}
</style>