<template>
  <div class="filter-container">
    <page-selector :page-sizes="[...pageSizes]"
                   :selected-page-size="currentTablePage"
                   @change="(pageSize: number) => setPageSize(pageSize)" />
    <clinic-filter v-if="Object.keys(clinics).length > 0"
                   :clinic-keys-and-labels="{ ...clinics }"
                   :selected-clinic="currentClinic"
                   @change="(clinic: string) => setClinic(clinic)" />
  </div>
</template>

<script setup lang="ts">
import {
  computed,
  toRefs,
} from "vue"
import type {
  ClinicNameMap
} from "@/global"

import ClinicFilter from "./ClinicFilter.vue"
import PageSelector from "./PageSelector.vue"

/* Local Types */
export type NumberedOptionsList = number[]
export interface OptionsListItem {
  label: string
  value: string
}

const props = withDefaults(
  defineProps<{
    pageSizes: NumberedOptionsList
    clinics: ClinicNameMap
    selectedPageSize: number | null
    selectedClinic: string | null
  }>(),
  {
    selectedPageSize: null,
    selectedClinic: null,
  },
)

const {
  pageSizes,
  selectedPageSize,
  clinics,
  selectedClinic,
} = toRefs(props)

/* Computed Props */
const currentTablePage = computed(() => selectedPageSize.value ?? pageSizes.value[0] ?? null)
const currentClinic = computed(
  () => {
    /* Uses provided selectedClinic value if passed, defaults to first key found otherwise, or null */
    return selectedClinic.value ?? (
      Object.keys(clinics)?.length > 0
        ? Object.keys(clinics.value)[0]
        : null
        )
  }
)

/* Event Emitters */
const emit = defineEmits<{
  (e: "pageSizeUpdated", pageSize: number): void
  (e: "clinicSelectionUpdated", clinic: string): void
}>()

const setPageSize = (pageSize: number) => {
  emit("pageSizeUpdated", pageSize)
}

const setClinic = (clinic: string) => {
  emit("clinicSelectionUpdated", clinic)
}
</script>

<style scoped>
.filter-container {
  float: left;
  display: block;
  width: 100%;
  padding: 1rem 0;
}

.filter-container .dropdown-container {
  margin-right: 1.5rem;
  float: left;
}

.filter-container .el-dropdown-link {
  cursor: pointer;
  color: var(--el-color-primary);
  display: flex;
  align-items: center;
}
</style>
